:root {
  /* Primary colors */
  --blue-color: hsl(246, 80%, 60%);
  --light-red-work-color: hsl(15, 100%, 70%);
  --soft-blue-play-color: hsl(195, 74%, 62%);
  --light-red-study-color: hsl(348, 100%, 68%);
  --lime-green-exercise-color: hsl(145, 58%, 55%);
  --violet-social-color: hsl(264, 64%, 52%);
  --soft-orange-care-color: hsl(43, 84%, 65%);

  /* Neutral Colors */
  --very-dark-blue-color: hsl(226, 43%, 10%);
  --dark-blue-color: hsl(235, 46%, 20%);
  --desaturated-blue-color: hsl(235, 45%, 61%);
  --pale-color: hsl(236, 100%, 87%);
}

html {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--very-dark-blue-color);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 1rem;
  width: 375px;
  height: auto;
  padding: 1rem;
  margin: 2rem auto;
}

footer {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.profile {
  width: 100%;
  margin: 1rem auto;
  height: auto;
  border-radius: 0.9rem;
  background-color: var(--dark-blue-color);
}

.profile .profile__information {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--violet-social-color);
  border-radius: inherit;
}

.img__profile {
  display: flex;
  width: 80px;
  height: 80px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
}

.img__profile img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.name__user {
  margin: 0 0 0 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
}

.name__user span {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: var(--pale-color);
}

.profile .menu__profile {
  display: flex;
  justify-content: space-evenly;
}

.menu__profile a {
  padding: 1.5rem;
  text-decoration: none;
  color: var(--desaturated-blue-color);
}

.menu__profile a:hover {
  color: #fff;
}

.tasks {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, 200px);
  row-gap: 2rem;
}

.content__task {
  width: 100%;
  max-height: 250px;
  padding-top: 2.5rem;
  border-radius: 0.9rem;
  background-repeat: no-repeat;
  background-position: 90% 0;
  border-color: transparent;
}

#work {
  background-image: url("/images/icon-work.svg");
  background-color: var(--light-red-work-color);
}

#play {
  background-image: url("/images/icon-play.svg");
  background-color: var(--soft-blue-play-color);
}

#study {
  background-image: url("/images/icon-study.svg");
  background-color: var(--light-red-study-color);
}

#exercise {
  background-image: url("/images/icon-exercise.svg");
  background-color: var(--lime-green-exercise-color);
}

#social {
  background-image: url("/images/icon-social.svg");
  background-color: var(--violet-social-color);
}

#self_care {
  background-image: url("/images/icon-self-care.svg");
  background-color: var(--soft-orange-care-color);
}

.task {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: inherit;
  background-color: var(--dark-blue-color);
}

.task__header,
.task__body {
  display: flex;
  justify-content: space-between;
}

.task__header {
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__header button {
  display: flex;
  align-items: center;
  height: auto;
  padding: 0.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  vertical-align: middle;
  background-color: transparent;
  color: #fff;
}

.task__time {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
}

.task__description {
  font-size: 0.8rem;
  color: var(--desaturated-blue-color);
}

a.active__link {
  color: #fff;
}

.hidden__task {
  display: none;
}

.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 720px) {
  main {
    min-width: 1024px;
    grid-template-columns: 200px auto;
    grid-template-rows: repeat(2, auto);
    column-gap: 1rem;
    grid-row: span;
  }

  .profile {
    margin: 0;
  }

  .profile .profile__information {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 2rem 1rem;
  }

  .name__user {
    margin: 2rem 0;
    font-size: 1.5rem;
  }

  .profile .menu__profile {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }

  .menu__profile a {
    padding: 0.8rem;
    justify-content: flex-start;
    align-items: center;
  }

  .tasks {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .task__body {
    flex-direction: column;
  }
}
